header{
    background-color: rgb(34, 34, 34);
    padding: 10px 40px;
    margin:  0 ;
}
nav{
    display: flex;
    justify-content:flex-start;
    margin: 20pz 10px;
    padding: 30px, 20px;
    gap: 40px;
    flex-wrap: wrap;
    
}

a {
    color: rgb(254, 254, 254);
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;
    padding: 10px 10px;
    
}

a:hover{
    color:rgb(34, 34, 34) ;
    background-color: rgb(241, 241, 241);
}

