* {
  box-sizing: border-box;
}



.contact-section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}


.contact-container {
  width: 90%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(251, 251, 251);
}


.contact-info h1 {
  font-size: 45px;
  margin-bottom: 16px;
  color: #111;
}

.subtitle {
  color: #666;
  line-height: 1.6;
  margin-bottom: 40px;
  max-width: 400px;
}

.info-list {
  list-style: none;
  padding: 0;
}

.info-list li {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 20px;
  color: #333;
}

.icon {
  font-size: 18px;
  color: #ff7a18;
}


.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  outline: none;
}

.contact-form textarea {
  min-height: 120px;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #171717;
}


.contact-form button {
  margin-top: 10px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background: #252525;
}

.contact-form button:disabled{
  background: #9a9a9a;
}




@media (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }
}

.errorText{
  color:rgb(230, 52, 52);
  font-size: small;
}