.footer{
    background-color: rgb(34, 34, 34);
    font-size: large;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    margin: 0;
    padding: 70px 50px;
}

.footer h4{
    font-size: 30px;
    margin: 0;
}