

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
        
    
    
}

.home h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 100px;
    color: #1f1f1f;
}

.home p{
    font-size: 20px;
    color: #1f1f1f;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 60px;
}

.home img {
    width: 100%;
    height: auto;
    
    
}