
h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 60px;
}

select{
    padding: 20px 30px;
    font-size: 20px;

    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-self: flex-end;

}



.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
}




.imagen {
  width: 100%;
  max-width: 500px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;

  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(44, 44, 44, 0.85);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: height .5s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  word-break: break-word;
  width: 100%;
  max-width: 90%;
  z-index: 3;
}

